@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~bulma/bulma';

body {
  margin: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button-copy {
  padding-bottom: 0;
  padding-top: 0;
  position: absolute;
  right: 0.25rem;
  top: 0.25rem;
}

.code {
  position: relative;
}

.github-ribbon {
  padding-bottom: 0;
  padding-top: 0;
  right: 0;
  top: 0;
  position: absolute;
}
